<form [formGroup]="formG" (ngSubmit)="onSubmit(formG)">
  <div class="form-group">
    <label for="">Name</label>
    <input type="text" class="form-control" formControlName="name">
    <div class="error" *ngIf="formG.get('name').errors">Error in name</div>
  </div>
  <div class="form-group">
    <label for="">Last name</label>
    <input type="text" class="form-control" formControlName="lastName">
  </div>
  <div class="form-group">
    <label for="">Age</label>
    <input type="number" class="form-control" formControlName="age">
    <!-- <p *ngIf="true">{{ formG.controls['age'].errors | json }}</p> -->
    <span *ngIf="formG.get('age').errors && (formG.get('age').dirty || formG.get('age').touched)">
      <ul>
        <li *ngFor="let error of formG.get('age').errors">{{ error.message }}</li>
      </ul>
    </span>
  </div>
  <div class="form-group">
    <label for="">Email</label>
    <input type="email" class="form-control" formControlName="email">
  </div>
  <div class="form-group">
    <label for="">DNI</label>
    <input type="text" class="form-control" formControlName="dni">
  </div>
  <div class="form-group">
    <label for="">Password</label>
    <input type="password" class="form-control" formControlName="password">
  </div>
  <div class="form-group">
    <label for="">Repeat password</label>
    <input type="password" class="form-control" formControlName="passwordConfirm">
  </div>
  <br>
  <div class="d-grid gap-2">
    <input type="submit" value="Send 📩" class="btn btn-block btn-success" [disabled]="formG.invalid">
  </div>
</form>
<br>
<div>
  <p>Valid: {{ formG.valid }}</p>
  <p>Invalid: {{ formG.invalid }}</p>
</div>