<div class="calculator">
  <div class="mini-line">
    <input type="text" [value]="operation">
  </div>
  <div class="mini-line">
    <div class="miniButton" (click)="writerToOperate($event)">1</div>
    <div class="miniButton" (click)="writerToOperate($event)">2</div>
    <div class="miniButton" (click)="writerToOperate($event)">3</div>
  </div>
  <div class="mini-line">
    <div class="miniButton" (click)="writerToOperate($event)">4</div>
    <div class="miniButton" (click)="writerToOperate($event)">5</div>
    <div class="miniButton" (click)="writerToOperate($event)">6</div>
  </div>
  <div class="mini-line">
    <div class="miniButton" (click)="writerToOperate($event)">7</div>
    <div class="miniButton" (click)="writerToOperate($event)">8</div>
    <div class="miniButton" (click)="writerToOperate($event)">9</div>
  </div>
  <div class="mini-line">
    <div class="miniButton" (click)="writerToOperate($event)">+</div>
    <div class="miniButton" (click)="writerToOperate($event)">-</div>
    <div class="miniButton" (click)="writerToOperate($event)">*</div>
    <div class="miniButton" (click)="writerToOperate($event)">/</div>
  </div>
  <div class="mini-line">
    <div class="miniutton" (click)="operate()">=</div>
  </div>
</div>