<app-create-task (sendTask)="addTask($event)"></app-create-task>

<div *ngFor="let task of arrTask; let i = index">
  <div [ngStyle]="{'background': task.isCompleted ? 'green' : 'red'}">
    <div>
      Title: {{task.title}}
    </div> 
    <div>
      Description: {{task.description}}
    </div>
    <div>
      <button (click)="removeTask(i)">Remove task</button>
    </div>
    <div>
      <button (click)="task.isCompleted = !task.isCompleted">{{ task.isCompleted ? 'Descompletar' : 'Completar' }}</button>
    </div>
  </div> 
</div>

